.signUpContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}

.signUpContainer h1 {
  font-size: 36px;
}

.signUpContainer p {
  font-size: 20px;
  margin: 0;
}

.signUpContainer label {
  display: block;
  margin-bottom: 0.3rem;
  font-family: Raleway;
  min-width: 6rem;
  color: black;
}

.signUpContainer .signUpInputError {
  border-bottom: 2px solid #c43333;
}

.signUpContainer .signUpLabelError {
  color: #c43333;
}

.error {
  font-size: 14px;
  color: #c43333;
}

.topRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.signUpButton {
  background-color: #305375;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 15px;
  font-size: 16px;
  border: 1px solid #305375;
  transition: ease all 0.3s;
  font-family: Raleway;
  width: 100%;
  transition: ease all 0.3s;
}

.signUpContainer .signUpButtonLabel {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.signUpButton:hover {
  color: #305375;
  background-color: white;
}

.leftCol {
  margin-right: 2rem;
  /* min-width: 10rem; */
}

.signUpContainer input {
  display: block;
  font-family: Raleway;
  color: black;
  border: none;
  padding: 0.3rem 0 0.3rem 0;
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1.5px solid black;
  font-size: 16px;
  outline: none;
}

.signUpContainer input::placeholder {
  color: black;
  opacity: 0.6;
}

@media screen and (max-width: 1100px) {
  .topRow {
    flex-direction: column;
  }
}
