.transactionsContainer {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 3rem auto 0 auto;
}

.transactionBar {
  background-color: #0c141d;
  border-radius: 10px;
  padding: 2rem 2rem 2rem 2rem;
  overflow: hidden;
  margin-left: 2rem;
  width: 75%;
}

.header {
  color: white;
  margin-bottom: 1rem;
}

.formContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.results {
  margin: 0 0 0.5rem 0;
  color: white;
}
.searchInput {
  width: 45%;
}

.searchBar {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .transactionsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: flex-start;
  }
  .transactionBar {
    width: 100%;
    margin-top: 2rem;
    margin-left: 0rem;
  }
}
