.createBudgetContainer {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  margin: 3rem auto 0 auto;
}

.budgetForm {
  width: 80%;
  min-width: 16rem;
  margin: 0 auto;
  background-color: #0c141d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem 2rem 4rem;
  margin-bottom: 2rem;
}

.budgetForm .inputContainer {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inputForm {
  margin-right: 1rem;
  margin-left: 1rem;
  width: 100%;
}

.budgetFormInput {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.7);
  border-radius: 0px;
  outline: none;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0;
  color-scheme: dark;
}

.budgetFormSelect {
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.7);
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  color: white;
  margin-bottom: 1rem;
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
}

.budgetFormSelect option {
  color: black;
}

.inputErrorLabel {
  color: #c43333;
}

.inputErrorText {
  color: #c43333;
  margin-top: 1rem;
  margin-bottom: 0;
}

.budgetFormLabel {
  color: white;
  width: 100%;
  margin-bottom: 0.3rem;
}

.budgetForm button {
  margin-bottom: 0.5rem;
}

.cancelButton {
  background-color: #c43333;
  cursor: pointer;
  margin: 1rem auto;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 15px;
  width: 100%;
  font-size: 16px;
  font-family: Raleway;
  text-align: center;
  border: 1px solid #c43333;
  text-decoration: none;
  transition: ease all 0.3s;
}

.cancelButton:hover {
  background-color: transparent;
  color: #c43333;
}

.budgetFormInputError {
  border-bottom: 3px solid #c43333;
}

.buttonLink {
  width: 100%;
  cursor: pointer;
}

.createButton {
  margin: 1rem auto;
  cursor: pointer;
  background-color: #305375;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 15px;
  width: 100%;
  font-size: 16px;
  font-family: Raleway;
  text-align: center;
  text-decoration: none;
  border: 1px solid #305375;
  transition: ease all 0.3s;
}

.createButton:hover {
  color: #5592cf;
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  .inputContainer {
    flex-direction: column;
  }

  .inputForm {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .budgetForm {
    padding: 1rem 1rem 1rem 1rem;
  }
}
