.container {
  min-width: 40%;
  background-color: #1f3a55;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.boxNav {
  width: 100%;
  margin-bottom: 1rem;
}

.boxForm {
  padding: 0 2rem 0 2rem;
}

.boxForm label {
  color: white;
}

.container h1 {
  color: white;
}

label {
  width: 50%;
  color: white;
  font-family: Raleway;
}

.inputError {
  color: #c43333;
  margin: 0;
  text-align: center;
}

.boxForm .inputErrorLabel {
  color: #c43333;
}

.boxForm .inputErrorInput {
  border: 3px solid #c43333;
}

input {
  color: black;
  border-radius: 5px;
  border: none;
  width: 50%;
  color: white;
  font-family: Raleway;
}

select {
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.inputField {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxLink {
  width: 50%;
  margin: 0 0 2rem 0;
  border-radius: 0;
}

.boxLinkSelected {
  width: 50%;
  margin: 0 0 2rem 0;
  border-radius: 0;
  background-color: #1f3a55;
}

@media screen and (max-width: 800px) {
  .container {
    min-width: 100%;
  }
}
