.budgetContainer {
  width: 80%;
  max-width: 80rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  margin: 3rem auto 0 auto;
}

.budgetHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.budgetHeader h1 {
  color: white;
  font-size: 2rem;
  margin: 0;
}

.budgetHeader button {
  width: 20%;
  margin: 0;
  font-size: 1.2rem;
  min-width: 11rem;
  cursor: pointer;
}

.budgetLink {
  text-decoration: none;
  color: white;
  min-width: 5rem;
}

.budgets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

@media screen and (max-width: 850px) {
  .budgets {
    justify-content: center;
  }
  .budgetHeader {
    flex-direction: column;
    align-items: flex-start;
  }
  .budgetHeader button {
    width: 100%;
    margin-top: 1rem;
  }
  .budgetLink {
    width: 100%;
  }
}
