.container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  max-width: 85rem;
  flex-direction: column;
  margin: 3rem auto 0 auto;
}

.bubbleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
}

@media screen and (max-width: 850px) {
  .bubbleRow {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
