.transactionsContainer {
  max-height: 10rem; /* or any value */
  overflow-y: auto;
}
/* 
/* width */
/* .transactionsContainer::-webkit-scrollbar {
  width: 15px;
} */

/* Track */
/* .transactionsContainer::-webkit-scrollbar-track {
  background-color: rgba(22, 38, 54, 1);
} */

/* Handle */
/* .transactionsContainer::-webkit-scrollbar-thumb {
  background: rgba(48, 83, 117, 0.5);
  border-radius: 10px;
} */

/* Handle on hover */
/* .transactionsContainer::-webkit-scrollbar-thumb:hover {
  background: rgba(48, 83, 117, 1);
} */

/* .transactionsContainer::-webkit-scrollbar {
  display: none;
} */

.transaction {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 0.5rem;
  background-color: #162636;
  padding: 1rem;
}

.deleteTransactionButton {
  width: 100%;
  background-color: #c43333;
  border: 1px solid #c43333;
  color: white;
  padding: 1rem;
  border-radius: 15px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: ease all 0.3s;
}

.deleteTransactionButton:hover {
  background-color: transparent;
  color: #e84141;
}

.cap {
  text-transform: capitalize;
  margin-bottom: 0;
}

.noBottomMargin {
  margin-bottom: 0;
}

.transactionInfoBox {
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  margin-top: 1rem;
}

.transactionEven {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  color: white;
  font-size: 0.5rem;
  background-color: #1b2f42;
  padding: 1rem;
}

.transactionEven:hover {
  background-color: #305375;
}

.transactionEven h1 {
  margin: 0;
  font-size: 1rem;
}

.transaction h1 {
  margin: 0;
  font-size: 1rem;
}

.transaction:hover {
  background-color: #305375;
}

hr {
  margin-top: 10px;
}

.rightSide {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.icon {
  font-size: 1rem;
  min-width: 2.5rem;
}
.leftSide {
  display: flex;
  min-width: 50%;
  align-items: center;
  justify-content: flex-start;
}

.deposit {
  color: #3bc42c;
}

.payment {
  color: #c43333;
}

/* @media screen and (max-width: 1200px) {
  .rightSide {
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 15%;
  }
  .leftSide {
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }
} */

@media screen and (max-width: 1200px) {
  .transaction {
    flex-direction: column-reverse;
    /* padding: 1rem 0 1rem 1rem; */
  }
  .icon {
    min-width: 0;
    margin-right: 1rem;
  }
  .transactionEven {
    flex-direction: column-reverse;
    /* padding: 1rem 0 1rem 1rem; */
  }
  .rightSide {
    flex-direction: row-reverse;
    align-items: flex-start;
    margin-bottom: 0.3rem;
    width: 100%;
  }
  .leftSide {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
  }
  .leftSide h1 {
    margin-bottom: 0.3rem;
  }
}
