.bubbleMed {
  color: white;
  background-color: #0c141d;
  font-size: 1.5rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8rem 0rem 1rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  min-width: 16rem;
  margin-right: 2rem;
  text-decoration: none;
  position: relative;
}

.bubbleSml {
  color: white;
  background-color: #0c141d;
  font-size: 1.5rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8rem 0rem 1rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  min-width: 16rem;
  margin-right: 2rem;
  text-decoration: none;
}

.bubbleLrg {
  color: white;
  background-color: #0c141d;
  font-size: 1.5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 8rem 0rem 1rem 1rem;
  margin-bottom: 2rem;
  min-width: 16rem;
  margin-right: 2rem;
  text-decoration: none;
}

.content {
  font-size: 1rem;
  margin: 0.5rem 0 0 0;
}

@media screen and (max-width: 850px) {
  .bubbleMed,
  .bubbleSml,
  .bubbleLrg {
    width: 100%;
    margin-right: 0;
  }
}
