.loginContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}

.loginContainer h1 {
  font-size: 36px;
}

.loginContainer p {
  font-size: 20px;
}

.error {
  font-size: 16px;
  color: #c43333;
}
form {
  width: 100%;
}

.loginContainer input {
  display: block;
  font-family: Raleway;
  color: black;
  border: none;
  padding: -1rem;
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1.5px solid black;
  font-size: 16px;
  outline: none;
}

.loginContainer label {
  display: block;
  margin-bottom: 0.3rem;
  font-family: Raleway;
  min-width: 6rem;
  color: black;
}

.loginButton {
  background-color: #305375;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 15px;
  font-size: 16px;
  border: 1px solid #305375;
  transition: ease all 0.3s;
  font-family: Raleway;
  width: 100%;
  transition: ease all 0.3s;
}

.loginButton:hover {
  color: #305375;
  background-color: white;
}

.loginContainer input::placeholder {
  color: black;
  opacity: 0.6;
}

.loginButtonLabel {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
