#root {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

input {
  font-family: Raleway;
}

select {
  font-family: Raleway;
}

option {
  font-family: Raleway;
}
