@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: Raleway;
  background-color: #162636;
}

body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.footer {
  position: absolute;
  color: white;
  bottom: 0;
  left: 2rem;
}

span {
  font-family: Raleway;
}

button {
  font-family: Raleway;
}

/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
} */

/* @media only screen and (max-width: 750px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 40%;
  }
} */
