.budgetData {
  color: white;
  margin-bottom: 1rem;
}

.budgetContainer {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 80rem;
  margin: 3rem auto 0 auto;
}

.budgetDisplay {
  width: 100%;
  background-color: #0c141d;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.budgetBar {
  justify-content: space-around;
  align-items: flex-end;
  display: block;
  width: 20px;
}

.budgetDisplayHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.budgetDisplayHeaderText {
  margin: 0;
  color: white;
  font-size: 2rem;
}

.editBudget {
  min-width: 10rem;
  margin: 0 1rem 0 0;
  background-color: #305375;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: Raleway;
  text-decoration: none;
  text-align: center;
  border: 1px solid #305375;
  transition: ease all 0.3s;
}

.editBudget:hover {
  color: #5592cf;
  background-color: transparent;
}

.budgetButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.deleteBudget {
  min-width: 10rem;
  background-color: #c43333;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: Raleway;
  text-decoration: none;
  text-align: center;
  transition: ease all 0.3s;
  border: 1px solid #c43333;
}

.deleteBudget:hover {
  background-color: transparent;
  color: #e84141;
}

.backArrow {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
  transition: ease all 0.3s;
}

span {
  font-size: 12px;
  margin: 0;
}

.backArrow:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1000px) {
  .budgetDisplayHeader {
    flex-direction: column;
    align-items: flex-start;
  }
  .budgetDisplayHeaderText {
    margin-bottom: 2rem;
  }
  .budgetButtons {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .editBudget {
    width: 100%;
    margin-bottom: 1rem;
  }
  .deleteBudget {
    width: 100%;
  }
}
