.nav {
  width: 100%;
  background-color: #305375;
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.navLink {
  display: flex;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 3%;
}

.logo {
  color: white;
  font-size: 3rem;
  margin: 0 3rem 0 2rem;
}
.icon {
  margin-right: 1rem;
  width: 2rem;
}

.mobileNav {
  color: white;
  font-size: 2rem;
  display: none;
}

.funds {
  margin: 0;
  color: white;
  font-size: 1rem;
  margin-right: 3%;
}

.mobileNavBarClosed {
  position: absolute;
  right: -300px;
  z-index: 99;
  padding: 1rem;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 12rem;
  background-color: #305375;
  transition: ease all 0.5s;
}

.mobileNavBarOpen {
  position: absolute;
  display: none;
  height: 100%;
  right: 0px;
  z-index: 99;
  padding: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 35%;
  background-color: #305375;
  transition: ease all 0.5s;
}

.navLinkMobile {
  display: none;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-right: 3%;
}

@media screen and (max-width: 1050px) {
  .navLink {
    display: none;
  }
  .mobileNav {
    display: block;
    position: absolute;
    right: 5%;
    top: 30%;
  }
  .mobileNavBarOpen {
    display: flex;
  }
  .navLinkMobile {
    display: block;
  }
}
